@use "../0_base/_mixin" as mixin;

/* .l-header
================================================ */
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    z-index: 2000;

    @include mixin.mq(tb) {
        min-width: var(--contents_width_with_padding);
    }
}

/* .l-header-info
================================================== */
.l-header-info {
    position: relative;
    z-index: 3;
    height: 70px;
    padding: 10px 10px 9px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        width: 150px;
        padding: 10px 10px 0 0;

        a {
            text-decoration: none;
            font-size: 2.5rem;
        }
    }

    @include mixin.mq(tb) {
        height: 70px;
        padding: 20px 15px 19px;

        &__logo {
            width: 300px;
            padding: 0 15px 0 0;

            a {
                font-size: 3rem;
            }
        }

        &__btn-contact {
            margin: 0;
        }
    }
}

/* .l-main-img
================================================== */
.l-main-img {
    background-color: #ccc;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;

    @include mixin.mq(tb) {
        font-size: 6rem;
        height: 400px;
    }
}

/* .l-nav-btn
================================================== */
.l-nav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #ccc;
    cursor: pointer;

    &__line {
        position: absolute;
        left: 12px;
        width: 26px;
        height: 2px;
        content: "";
        background: #fff;
        @include mixin.trans;

        &:nth-child(1) {
            top: 10px;
        }

        &:nth-child(2) {
            top: 18px;
        }

        &:nth-child(3) {
            top: 26px;
        }
    }

    &.is-open {
        .l-nav-btn__line {
            &:nth-child(1) {
                top: 18px;
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                top: 18px;
                transform: rotate(45deg);
            }
        }
    }

    &__txt {
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        font-size: 1rem;
        line-height: 1.2;
        text-align: center;
    }
}

/* .l-nav
================================================ */
.l-nav {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;
    width: 100%;
    max-height: calc(100vh - 70px);
    min-width: 320px;
    padding: 20px 0;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    -webkit-overflow-scrolling: touch;

    @include mixin.mq(sp) {
        overflow: auto;
        transform: translateX(120%);
        @include mixin.trans;

        &::-webkit-scrollbar {
            display: none;
        }

        &.is-open {
            transform: translateX(0);
        }
    }

    @include mixin.mq(tb) {
        position: static;
        width: 100%;
        min-width: auto;
        padding: 0;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
    }
}

/* .l-nav-list
================================================== */
.l-nav-list {
    &__item {
        &.is-service {
            position: relative;
        }
    }

    &__item-link {
        display: block;
        padding: 10px;
        position: relative;

        &[class*=toggle]::before {
            content: "";
            position: absolute;
            top: 46%;
            right: 16px;
            width: 6px;
            height: 6px;
            border-top: 2px solid rgb(var(--black));
            border-right: 2px solid rgb(var(--black));
            transform: rotate(135deg);
            transform: rotate(135deg);
            background: transparent;
            @include mixin.trans();
        }

        &.is-active {
            &[class*=toggle]::before {
                top: calc(46% + 4px);
                transform: rotate(-45deg);
            }
        }
    }

    &__child {
        &-wrap {
            background-color: #ddd;
        }

        &-item {
            padding: 5px 0;
        }
    }

    @include mixin.mq(tb) {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__item-link {
            padding: 20px 30px;
        }

        &__child {
            &-wrap {
                width: 240px;
                position: absolute;
                top: 70px;
                padding: 25px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
            }
        }
    }
}

/* .l-nav-overlay
================================================ */
.l-nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1000;

    @include mixin.mq(tb) {
        display: none !important;
    }
}
