<p class="js-page-top l-footer-page-top">
	<a class="l-footer-page-top__link u-alpha" href="#top">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
		</svg>
	</a>
</p>
<footer class="js-footer l-footer">
	<div class="l-footer__info">
		<p class="l-footer__info-logo"><a href="/" class="l-footer__info-logo-link u-alpha u-uppercase">logo</a></p>
	</div>
	<p class="l-footer__cr"><small class="l-footer__cr-txt">&copy; Company name</small></p>
</footer>