<header class="js-header l-header">
	<div class="l-header-info">
		<div class="l-header-info__logo u-font-en">
			<a href="/">LOGO</a>
		</div>
		<button class="js-nav-btn l-nav-btn u-view-sp">
			<span class="l-nav-btn__line"></span>
			<span class="l-nav-btn__line"></span>
			<span class="l-nav-btn__line"></span>
			<span class="js-nav-btn-txt l-nav-btn__txt u-uppercase">menu</span>
		</button>
	</div>
	<nav class="js-nav-content l-nav" role="navigation" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
		<ul class="l-nav-list">
			<li class="l-nav-list__item" itemprop="name"><a class="l-nav-list__item-link" href="/">Home</a></li>
			<li class="l-nav-list__item" itemprop="name"><a class="l-nav-list__item-link" href="/">About</a></li>
			<li class="l-nav-list__item is-service" itemprop="name">
				<p class="js-c-toggle-trigger l-nav-list__item-link" itemprop="URL">Service</p>
				<div class="js-c-toggle-content l-nav-list__child-wrap">
					<ul class="l-nav-list__child">
						<li class="l-nav-list__child-item" itemprop="name">
							<a class="l-nav-list__child-item-link" href="/" itemprop="URL">Service 01</a>
						</li>
						<li class="l-nav-list__child-item" itemprop="name">
							<a class="l-nav-list__child-item-link" href="/" itemprop="URL">Service 02</a>
						</li>
						<li class="l-nav-list__child-item" itemprop="name">
							<a class="l-nav-list__child-item-link" href="/" itemprop="URL">Service 03</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>

<div class="l-main-img">
	<div class="l-main-img__inner u-inner">
		<p class="l-main-img__mv u-uppercase">main banner</p>
	</div>
</div>